
	<body>
		<center>
		<table border='1' cellspacing='0' cellpadding='20'>
    <tr><th>商品大分类</th>
        <th>商品中分类</th>
		<th>商品小分类</th>
		<th>操作</th>
	</tr>
    <tr><td></td>
	    <td></td>
		<td></td>
		<td></td>  
    </tr>	 
		<td colspan='4' align='center'><%=link_to '添加商品','to_add' %></td>
	</tr>
	</center>	
	</body>