<%@big_category.each do |big|%>
	<div style="float :left;margin-left :250px;">
  	<%= link_to_remote big.name , :url => {:controller => "/product" , :action => "show_middle_category",:big_category_id => big.id}%>&nbsp;
  	</div>
<%end %>
